<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    {% extends "base.html" %}
    {% block content %}
    <body>
        <div class="container">
        <form method = "POST">
            {{ form.hidden_tag() }}
            {{ form.user_name.label }} 
            {{ form.user_name }}
            <br>
            {{ form.password.label }} 
            {{ form.password }}
            <br>
            {{ form.submit() }}
            <br>
        </form>
        <br>
        <div style="border:3px; border-style:solid; border-color:#0f0f0f; padding: 4px;">
        <h1> Please follow these Instructions while creating a password.</h1>
        <ul>
            <li>The passowrd should atleast contain 8 characters in it.</li>
            <li>The passowrd must contain an upper case letter somwhere in it.</li>
            <li> The password must contain a lower case letter somewhere in it.</li>
            <li> The password must end with a number.</li>
        </ul>
        <h1>Ensure that all the requirements are satisfied.</h1>
    </div>
        </div>
    </body>
    {% endblock %}
</html>